<?xml version="1.0"?>
<launch>
    <!--############### ROSBAG ###################-->
    <arg name="rosbag_directory" value="/home/erl/se3hamdl_ws/src/dataset"/>
    <node pkg="rosbag" type="play" name="replay_dataset" 
          args="-r 0.5 $(arg rosbag_directory)/real_drone/data_2023-08-04-18-28-20.bag"/>

    <!--node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 odom map 1000" /-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find erl_quadrotor_control)/config/rviz_config.rviz" />
</launch>
